html, body {
  overflow: hidden;
}

nav {
    background-color: transparent;
    width: 100%;
}

nav li {
    text-decoration: none !important;
    color: black;
    font-size:1.1em; 
    font-weight: 310;
}

nav li:hover {
    color: #0085CC;
    cursor: pointer;
}

nav img:hover {
    cursor: pointer;
}

nav .active {
    color: #0085CC;
}

body a {
    text-decoration: none !important;
    color: black;
}

body a:hover {
    color: #0085CC;
}

#gas {
    background-image: url("img/gas_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#eletrodomesticos {
    background-image: url("img/eletrodomesticos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.tag {
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  left: 0;
}

.tag:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.tag:first-child {
  transform: translateY(-15vh);
}

.tag:first-child .content-wrapper {
  transform: translateY(15vh);
}

/* Set stacking context of slides */
.tag:nth-child(1) {
  z-index: 6;
}

.tag:nth-child(2) {
  z-index: 5;
}

.tag:nth-child(3) {
  z-index: 4;
}

.tag:nth-child(4) {
  z-index: 3;
}

.tag:nth-child(5) {
  z-index: 2;
}

.tag:nth-child(6) {
  z-index: 1;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  color: black;
  transform: translateY(40vh);
  will-change: transform;
  backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

#sobre p {
    font-weight: 300;
    font-size: 1em;
}

#sobre #title {
    font-size: 1.5em;
    font-weight: 400;
}

#sobre i {
    font-size:1.1em; 
    margin-right: 2.5%; 
    color: #023E8D;
}

@media only screen and (max-height: 630px) {
    #sobre p {
        font-size: 0.95em;
    }

    #sobre i {
        font-size:1em; 
    }

    #sobre img {
        transform: scale(0.8);
    }

    #sobre #title {
        font-size: 1.2em;
    }

    #sobre iframe {
        height: 100px;
    }

    #sobre img {
        padding: 1px;
    }
}

@media only screen and (max-height: 580px) {
    #sobre p {
        font-size: 0.85em;
    }

    #sobre img {
        transform: scale(0.7);
    }

    #sobre #title {
        font-size: 1.2em;
    }

    #sobre iframe {
        height: 100px;
    }

    #sobre img {
        padding: 1px;
    }
}

.tag.up-scroll {
  transform: translate3d(0, -15vh, 0);
}

.tag.up-scroll .content-wrapper {
  transform: translateY(15vh);
}

.tag.up-scroll + .tag {
  transform: translate3d(0, 30vh, 0);
}

.tag.up-scroll + .tag .content-wrapper {
  transform: translateY(30vh);
}

.tag.down-scroll {
  transform: translate3d(0, -130vh, 0);
}

.tag.down-scroll .content-wrapper {
  transform: translateY(40vh);
}

.tag.down-scroll + .tag:not(.down-scroll) {
  transform: translate3d(0, -15vh, 0);
}

.tag.down-scroll + .tag:not(.down-scroll) .content-wrapper {
  transform: translateY(15vh);
}
