html, body {
  overflow-x: hidden;
  color: #000;
}

nav {
    background-color: transparent;
    width: 100%;
}

nav li {
    text-decoration: none !important;
    color: black;
    font-size:1.1em; 
    font-weight: 310;
}

nav li:hover {
    color: #0085CC;
    cursor: pointer;
}

nav img {
    width: 10%;
}

@media only screen and (max-width: 1350px) and (min-width: 992px) {
    nav img {
        width: 15%;
    }
}

@media only screen and (max-width: 1250px) and (min-width: 992px) {
    nav img {
        width: 20%;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 992px) {
    nav img {
        width: 50px;
    }
}

nav img:hover {
    cursor: pointer;
}

nav .active {
    color: #0085CC;
}

body a {
    text-decoration: none !important;
    color: black;
}

body a:hover {
    color: #0085CC;
}

#gas {
    background-image: url("img/gas_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#eletrodomesticos {
    background-image: url("img/eletrodomesticos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#contactos {
    color: #fff;
}

#contactos a {
    color: #fff;
}

#contactos a:hover {
    color: #0085CC;
}

#contactos i {
    color: #fff;
    font-size:1.1em; 
    margin-right: 2.5%; 
}

#contactos #ctitle {
    font-size: 1.3em;
    font-weight: 500;
    color: #fff;
}


#contactos #text {
    font-size: 0.9em;
    color: #fff;
}

@media only screen and (max-width: 500px) {
    #contactos #text {
        font-size: 0.58em;
    }

    #contactos iframe {
        height: 115;
    }
}

@media only screen and (min-width: 992px) {
    #contactos {
        background-color: #444; 
        min-height: 70vh; 
        bottom: 0;
        position: absolute;
        z-index: -1;
        width: 100%;
        display: none;
    }

    #contactos #text {
        font-size: 1em;
    }

    #contactos #title {
        font-size: 1.3em;
    }
}

.tag {
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  left: 0;
}

.tag:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.tag:first-child {
  transform: translateY(-15vh);
}

.tag:first-child .content-wrapper {
  transform: translateY(15vh);
}

/* Set stacking context of slides */
.tag:nth-child(1) {
  z-index: 6;
}

.tag:nth-child(2) {
  z-index: 5;
}

.tag:nth-child(3) {
  z-index: 4;
}

.tag:nth-child(4) {
  z-index: 3;
}

.tag:nth-child(5) {
  z-index: 2;
}

.tag:nth-child(6) {
  z-index: 1;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  color: black;
  transform: translateY(40vh);
  will-change: transform;
  backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

#sobre p {
    font-weight: 300;
    font-size: 1em;
}

@media only screen and (max-height: 630px) and (min-width: 992px) {
    #sobre p {
        font-size: 0.95em;
    }

    #sobre i {
        font-size:1em; 
    }

    #sobre img {
        transform: scale(0.8);
    }

    #sobre #title {
        font-size: 1.2em;
    }

    #sobre iframe {
        height: 100px;
    }

    #sobre img {
        padding: 1px;
    }
}

@media only screen and (max-height: 580px) and (min-width: 992px) {
    #sobre p {
        font-size: 0.85em;
    }

    #sobre img {
        transform: scale(0.7);
    }

    #sobre #title {
        font-size: 1.2em;
    }

    #sobre iframe {
        height: 100px;
    }

    #sobre img {
        padding: 1px;
    }
}

#climatizacaoaquecimento #title {
    width: 70%;
}

#climatizacaoaquecimento .card {
    border: 0; 
    box-shadow: -5px 6px 6px #888888;
}

#climatizacaoaquecimento .card-title {
    font-weight: 500; 
    font-size: 1.5em;
}

#climatizacaoaquecimento .card-body {
    padding: 1%; 
    background-color: #ffffff; 
    border-top: 1px solid #e0e2e3;
}

#climatizacaoaquecimento #logo {
    width: 20%;
}

@media only screen and (max-height: 720px) and (min-width: 992px) {
    #climatizacaoaquecimento #title {
        width: 60%;
    }

    #climatizacaoaquecimento img {
        width: 90%;
    }

    #climatizacaoaquecimento .card-title {
        font-size: 1.3em;
    }

    #climatizacaoaquecimento #logo {
        width: 18%;
    }
}

@media only screen and (max-height: 650px) and (min-width: 992px) {
    #climatizacaoaquecimento #title {
        width: 60%;
    }

    #climatizacaoaquecimento img {
        width: 80%;
    }

    #climatizacaoaquecimento .card-title {
        font-size: 1.2em;
    }

    #climatizacaoaquecimento #logo {
        width: 15%;
    }
}

@media only screen and (max-height: 580px) and (min-width: 992px) {
    #climatizacaoaquecimento #title {
        width: 50%;
    }
}

#assistencia #title {
    width: 30%;
}

#assistencia .card {
    background-color: #fff;
    border: 0; 
    box-shadow: -5px 6px 6px #888888;
}

#assistencia .card-title {
    font-weight: 500; 
    font-size: 0.95em;
}

#assistencia .card-body {
    padding: 5%; 
    background-color: #f4f4f4; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    border-top: 1px solid #e0e2e3;
    font-weight: 400; 
    font-size: 0.95em;
    text-shadow: 1px 1px #ffffff;
}

@media only screen and (max-height: 650px) and (min-width: 992px) {
    #assistencia #title {
        width: 25%;
    }

    #assistencia .card-title {
        font-weight: 450; 
        font-size: 0.85em;
    }

    #assistencia .card-body {
        padding: 3%; 
        font-weight: 350; 
        font-size: 0.8em;
    }
}

@media only screen and (max-height: 580px) and (min-width: 992px) {
    #assistencia #title {
        width: 20%;
    }

    #assistencia .card-title {
        font-weight: 450; 
        font-size: 0.8em;
    }

    #assistencia .card-body {
        padding: 3%; 
        font-weight: 350; 
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 992px) {
    #assistencia .card {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #assistencia .card {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    #gas_txt {
        width: 100%;
    }

    #botijas {
        width: 100%;
    }
}

.tag.up-scroll {
  transform: translate3d(0, -15vh, 0);
}

.tag.up-scroll .content-wrapper {
  transform: translateY(15vh);
}

.tag.up-scroll + .tag {
  transform: translate3d(0, 30vh, 0);
}

.tag.up-scroll + .tag .content-wrapper {
  transform: translateY(30vh);
}

.tag.down-scroll {
  transform: translate3d(0, -130vh, 0);
}

.tag.down-scroll .content-wrapper {
  transform: translateY(40vh);
}

.tag.down-scroll + .tag:not(.down-scroll) {
  transform: translate3d(0, -15vh, 0);
}

.tag.down-scroll + .tag:not(.down-scroll) .content-wrapper {
  transform: translateY(15vh);
}